<div class="row">
    <div class="col">
        <div class="input">
            <label for="">email or username</label>
            <input type="text" ng-model="username" />
        </div>
    </div>
    <div class="col">
        <div class="input">
            <label for="">password</label>
            <input type="text" ng-model="password" />
        </div>
    </div>
    <div class="col">
        <div class="form-footer">
            <div>
                <input type="checkbox" name="" id="stay-signed-in" />
                <label for="stay-signed-in">keep me signed in</label>
            </div>
            <a href="">forgot password</a>
        </div>
    </div>
    <div class="col">
        <button class="btn btn--fluid">Login</button>
    </div>
</div>
