<nav>
    <div class="container">
        <div class="nav">
            <div class="nav__block nav__logo">
                <span class="logo">LogoHere</span>
            </div>
            <div class="nav__block nav__controls">
                <div class="nav__controls__control">
                    <button class="btn">Sign up</button>
                </div>
                <div class="nav__controls__control">
                    <button class="btn">Login</button>
                </div>
            </div>
        </div>
    </div>
</nav>
